pip~=23.2.1
beautifulsoup4~=4.12.2
soupsieve~=2.5
lxml~=4.9.4
pathlib~=1.0.1
future~=0.18.3
configparser~=6.0.0
colorama~=0.4.6
fitz~=0.0.1.dev2
prov~=2.0.0
rdflib~=7.0.0
pydot~=1.4.2
networkx~=3.2.1
python-dateutil~=2.8.2
pytz~=2023.3.post1
numpy~=1.26.2
scipy~=1.11.4
nipype~=1.8.6
nibabel~=5.2.0
looseversion~=1.3.0
simplejson~=3.19.2
filelock~=3.13.1
pandas~=2.1.4
click~=8.1.7
traits~=6.3.2
packaging~=23.2
six~=1.16.0
requests~=2.31.0
pyxnat~=1.6
pyparsing~=3.1.1
isodate~=0.6.1
urllib3~=2.1.0
certifi~=2023.11.17
httplib2~=0.22.0
idna~=3.6
configobj~=5.0.8
pyahocorasick~=1.4.0
paddleocr>=2.0.1
PyMuPDF==1.24.7
selenium~=4.9.0